In [1]:
# API KEY Loading
from dotenv import load_dotenv

load_dotenv()

True

# CSVLoader 

- csv 파일의 데이터를 텍스트 문서처럼 다뤄야 할 경우
- 각 행(row) 또는 각 컬럼(column)을 문서로 변환하여 자연어 처리를 적용

[Reference] https://python.langchain.com/docs/integrations/document_loaders/csv/

In [2]:
from langchain_community.document_loaders.csv_loader import CSVLoader

In [3]:
file_path = './data/titanic.csv'

In [4]:
# 로더 정의
loader = CSVLoader(file_path)

# 문서 로딩
docs = loader.load()

In [5]:
print(len(docs))
print(docs[0].metadata)

891
{'source': './data/titanic.csv', 'row': 0}

In [6]:
print(docs[1].page_content)

PassengerId: 2
Survived: 1
Pclass: 1
Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Sex: female
Age: 38
SibSp: 1
Parch: 0
Ticket: PC 17599
Fare: 71.2833
Cabin: C85
Embarked: C

# DataFrameLoader

In [7]:
import pandas as pd

In [8]:
# 판다스로 데이터 로딩 
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
from langchain_community.document_loaders import DataFrameLoader

In [10]:
# 로더 정의 
# 데이터 소스(df) 반영
loader = DataFrameLoader(df, page_content_column='Name')

# 문서 로드 
# 해당 단계에서 LangChain 문서 객체로 변환 
docs = loader.load()

In [11]:
# 데이터 출력
print(docs[0].page_content)

Braund, Mr. Owen Harris

In [12]:
# 메타데이터 확인
print(docs[0].metadata)

{'PassengerId': 1, 'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 22.0, 'SibSp': 1, 'Parch': 0, 'Ticket': 'A/5 21171', 'Fare': 7.25, 'Cabin': nan, 'Embarked': 'S'}

In [13]:
# lazy_load() 
for row in loader.lazy_load():
    print(row)
    break # 첫행만 출력하도록

page_content='Braund, Mr. Owen Harris' metadata={'PassengerId': 1, 'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 22.0, 'SibSp': 1, 'Parch': 0, 'Ticket': 'A/5 21171', 'Fare': 7.25, 'Cabin': nan, 'Embarked': 'S'}

-----
** End of Documents **